{% trans_default_domain 'nglayouts_app' %}

{%- block ngcb_sylius_component_widget -%}
    {% if form.vars.item is not empty %}
        {% set post_input_browse %}
            <a class="add-items add-items-btn" href="{{ path(component_update_route, {'id': form.vars.item.component.id}) }}" target="_blank" style="display: block">
                {{ 'block.ngcb.view_in_cms'|trans }}
            </a>
        {% endset %}
    {% endif %}

    {{ block('ngcb_widget') }}
{%- endblock -%}

{# Form theme for "component" parameter from "sylius_component" block definition #}
{%- block sylius_component_component_widget -%}
    {% set component_type_identifier = form.parent['component_type_identifier'].vars.value %}
    {% set component_create_route = nglayouts_sylius_sylius_component_create_route(component_type_identifier) %}
    {% set component_update_route = nglayouts_sylius_sylius_component_update_route(component_type_identifier) %}

    {% set custom_params = custom_params|merge({
        component_type_identifier: component_type_identifier
    }) %}

    {% set post_input_browse %}
        {% if form.vars.item is not empty and component_update_route %}
            {% set link_name = 'block.sylius_component.edit_component'|trans %}
            {% set link_url = path(component_update_route, {'id': form.vars.item.component.id}) %}
        {% else %}
            {% set block = form.parent.parent.vars.block %}
            {% set link_name = 'block.sylius_component.create_component'|trans %}
            {% set link_url = path(component_create_route) ~ '#ngl-sylius-component/' ~ block.id.toString ~ '/' ~ block.locale ~ '/' ~ component_type_identifier %}
        {% endif %}

        <a class="add-items add-items-btn" href="{{ link_url }}" target="_blank" style="display: block">{{ link_name }}</a>
    {% endset %}

    {{ block('ngcb_widget') }}
{%- endblock -%}
